<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GMaps.js &mdash; Basic</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAbslCgPtTfm0OFga9qVAzPifvdna4RNWE"></script>
  <script type="text/javascript" src="../static/gmaps.js"></script>


  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/examples.css" />
  <script type="text/javascript">
    var map;
    var coord
    $(document).ready(function(){

      map = new GMaps({
        el: '#map',
        lat: 50.472264,
        lng: 30.507892,
        zoomControl : true,
        zoomControlOpt: {
            style : 'SMALL',
            position: 'TOP_LEFT'
        },
        panControl : true,
        streetViewControl : false,
        mapTypeControl: false,
        overviewMapControl: false
      });

      GMaps.on('click', map.map, function(event) {
        var index = map.markers.length;
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();

        map.addMarker({
          lat: lat,
          lng: lng,
          title: 'Marker #' + index,
          click: function(e) {
            map.drawPolyline({
              path: [map.markers[map.markers.length - 1].getPosition(), this.getPosition()],
              strokeColor: '#131540',
              strokeOpacity: 0.6,
              strokeWeight: 6
            });

          },
          infoWindow: {
            content : '<p>HTML Content</p>'
          }
        });


        if (map.markers.length > 1) {
          var position1 = map.markers[map.markers.length - 2].getPosition();
          var position2 = map.markers[map.markers.length - 1].getPosition();
          map.drawPolyline({
            path: [position1, position2],
              strokeColor: '#131540',
              strokeOpacity: 0.6,
              strokeWeight: 6
          });
        }
      });

    });
  </script>
</head>
<body>
  <h1>GMaps.js &mdash; Basic</h1>
  <div class="row">
    <div class="span11">
      <div id="map"></div>
    </div>
    <div class="span6">
      <p>Using GMaps.js is as easy as:</p>
      <pre>new GMaps({
  el: '#map',
  lat: -12.043333,
  lng: -77.028333
});</pre>
      <form th:action="@{/}" method="post">
        <div><label> spacing: <input type="number" name="spacing"/> </label></div>
        <div><label> angle: <input type="number" name="angle"/> </label></div>
        <div><label> overshoot1: <input type="number" name="overshoot1"/> </label></div>
        <div><label> overshoot2: <input type="number" name="overshoot2"/> </label></div>
        <div><label> altitude: <input type="number" name="altitude"/> </label></div>
        <div><label> minLaneSeparation: <input type="number" name="minLaneSeparation"/> </label></div>
        <div><label> leadin: <input type="number" name="leadin"/> </label></div>

        <input type="submit" value="Draw a polygon" />
      </form>
       </div>
  </div>
</body>
</html>
